<a href="https://colab.research.google.com/github/fmarcelneves/Rental-price-analysis-and-forecast-Curitiba-PR/blob/main/Data_collection_Curitiba_rent_January_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing packages

In [1]:
#import packages
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from time import sleep

## Preparing data extraction

Selecting neighborhoods and pages to extract data

In [2]:
# first 6 pages from the website
paginas = ['']#'_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', '_Desde_241']
bairros = ['Abranches', 'Ahu', 'Alto-Boqueirao', 'Alto-da-Gloria', 'Alto-da-Rua-XV', 'Atuba', 
           'Bacacheri', 'Bairro-Alto', 'Batel', 'Bigorrilho', 'Bom-Retiro', 'Boqueirao', 'Butiatuvinha',
           'Cabral', 'Cachoeira', 'Cajuru', 'Campina-do-Siqueira', 'Campo-Comprido', 'Campo-de-Santana', 'Capao-Raso', 'Capao-da-Imbuia',
           'Cascatinha','Centro', 'Centro-Civico', 'Champagnat', 'Cidade-Industrial', 'Cristo-Rei', 'Fanny', 'Fazendinha',
           'Guabirotuba', 'Guaira', 'Hauer', 'Hugo-Lange', 'Jardim-Botanico', 'Jardim-das-Americas', 'Jardim-Social', 'Juveve',
           'Lindoia', 'Merces', 'Mossungue', 'Novo-Mundo', 'Orleans', 'Parolin', 'Pilarzinho', 'Pinheirinho', 'Portao', 'Prado-Velho',
           'Reboucas', 'Santa-Candida', 'Santa-Felicidade', 'Santa-Quiteria', 'Santo-Inacio', 'Seminario', 'Sao-Lourenco', 'Sao-Braz', 'Sao-Francisco', 'Sitio-Cercado',
           'Taruma', 'Tatuquara', 'Tingui', 'Uberaba', 'Umbara', 'Vila-Izabel', 'Vista-Alegre', 'Xaxim', 'Agua-Verde']

Creating function to extract data

In [3]:
def coleta_dados(url, bairro):
  conteudo = requests.get(url).content
  sopa = BeautifulSoup(conteudo)

  lista_precos = []
  lista_areas_quartos = []
  lista_quartos = []
  lista_dimensoes = []
  lista_bairros = []

  re_quartos = '(.) quarto|quartos'
  re_dimensoes = '(.*) mÂ²'

  precos = sopa.find_all('span', class_='price-tag-fraction')
  dimensoes_e_quartos = sopa.find_all('ul', class_='ui-search-card-attributes ui-search-item__group__element')

  for elemento in precos:
     preco = re.findall('<span class="price-tag-fraction">(.*)</span>', str(elemento))
     lista_precos.append(float(preco[0].replace('.','')))

  for elemento in dimensoes_e_quartos:
      lista_areas_quartos.append(elemento.text)

  for elemento in lista_areas_quartos:
    quarto = re.findall(re_quartos, str(elemento))
    dimensao = re.findall(re_dimensoes, str(elemento))

    if quarto == []:
      quarto = np.nan
    else:
      quarto = quarto[0]

    if dimensao == []:
      dimensao = np.nan
    else:
      dimensao = dimensao[0]
 
      lista_quartos.append(quarto)
      lista_dimensoes.append(dimensao)
      lista_bairros.append(bairro)

  series_bairros = pd.Series(lista_bairros, name = 'bairro')
  series_precos = pd.Series(lista_precos, name = 'precos')
  series_quartos = pd.Series(lista_quartos, name = 'quartos')
  series_dimensoes = pd.Series(lista_dimensoes, name = 'dimensao')

  dados = {'bairro': series_bairros,
           'precos': series_precos,
           'quartos': series_quartos,
           'areas': series_dimensoes}

  df = pd.DataFrame(dados)
  return df

## Apartment rent code

In [ ]:
lista_dfs = []

for bairro in bairros:
  for pagina in paginas:
    url = f'https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/{bairro}/{pagina}'
    print('Coletando dados de', url)
    df = coleta_dados(url, bairro)
    lista_dfs.append(df)
    sleep(2)
print('Dados coletados!')

Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Abranches/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Ahu/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Alto-Boqueirao/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Alto-da-Gloria/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Alto-da-Rua-XV/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Atuba/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Bacacheri/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Bairro-Alto/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Batel/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Bigorrilho/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Bom-Retiro/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Boqueirao/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Butiatuvinha/

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:43: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:44: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Cabral/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Cachoeira/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Cajuru/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Campina-do-Siqueira/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Campo-Comprido/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Campo-de-Santana/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Capao-Raso/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Capao-da-Imbuia/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Cascatinha/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Centro/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Centro-Civico/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Champagnat/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Cidade-Industrial/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Cristo-Rei/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Fanny/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Fazendinha/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Guabirotuba/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Guaira/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Hauer/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Hugo-Lange/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Jardim-Botanico/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Jardim-das-Americas/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Jardim-Social/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Juveve/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Lindoia/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Merces/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Mossungue/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Novo-Mundo/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Orleans/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Parolin/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Pilarzinho/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Pinheirinho/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Portao/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Prado-Velho/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Reboucas/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Santa-Candida/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Santa-Felicidade/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Santa-Quiteria/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Santo-Inacio/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Seminario/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Sao-Lourenco/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Sao-Braz/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Sao-Francisco/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Sitio-Cercado/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Taruma/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Tatuquara/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Tingui/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Uberaba/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Umbara/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Vila-Izabel/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Vista-Alegre/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Xaxim/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/parana/curitiba/Agua-Verde/
Dados coletados!

In [ ]:
dfa_ml = pd.concat(lista_dfs)

In [ ]:
dfa_ml

        bairro  precos quartos areas
0    Abranches  2500.0       2    80
1    Abranches  2100.0       2    65
2    Abranches  2500.0       2    80
3    Abranches  2100.0       2    65
4    Abranches   600.0       1    35
..         ...     ...     ...   ...
43  Agua-Verde  1500.0       1    46
44  Agua-Verde  1200.0       1    29
45  Agua-Verde  1230.0       1    31
46  Agua-Verde  1500.0       1    30
47  Agua-Verde  2400.0       4   175

[916 rows x 4 columns]

Saving extracted data

In [ ]:
dfa_ml.to_csv('dados_mercado_livre_ap_curitiba.csv', index=False)

Reading extracted data

In [ ]:
da_ml = pd.read_csv('dados_mercado_livre_ap_curitiba.csv')

In [ ]:
da_ml.replace(',','', regex=True,inplace=True)
da_ml['areas'] = da_ml['areas'].astype(float)

In [ ]:
da_ml.describe().T

         count         mean           std  min    25%     50%     75%       max
precos   916.0  4217.021834  28083.151086  2.0  900.0  1200.0  1900.0  530000.0
quartos  890.0     2.044944      0.976785  1.0    1.0     2.0     3.0       8.0

In [ ]:
da_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bairro   907 non-null    object
 1   precos   916 non-null    float64
 2   quartos  890 non-null    float64
 3   areas    907 non-null    object
dtypes: float64(2), object(2)
memory usage: 28.8+ KB

In [ ]:
da_ml.isnull().sum()

bairro      9
precos      0
quartos    26
areas       9
dtype: int64

In [ ]:
da_ml['bairro'].value_counts()

Agua-Verde          48
Bigorrilho          48
Centro              48
Reboucas            47
Cristo-Rei          45
                    ..
Tatuquara            2
Parolin              1
Bom-Retiro           1
Campo-de-Santana     1
Cachoeira            1
Name: bairro, Length: 62, dtype: int64

## House rent code

In [4]:
lista_dfs = []

for bairro in bairros:
  for pagina in paginas:
    url = f'https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/{bairro}/{pagina}'
    print('Coletando dados de', url)
    df = coleta_dados(url, bairro)
    lista_dfs.append(df)
    sleep(2)
print('Dados coletados!')

Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Abranches/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Ahu/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Alto-Boqueirao/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Alto-da-Gloria/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Alto-da-Rua-XV/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Atuba/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Bacacheri/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Bairro-Alto/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Batel/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Bigorrilho/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Bom-Retiro/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Boqueirao/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Butiatuvinha/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Cabral/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Cachoeira/

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:43: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:44: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:45: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Cajuru/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Campina-do-Siqueira/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Campo-Comprido/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Campo-de-Santana/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Capao-Raso/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Capao-da-Imbuia/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Cascatinha/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Centro/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Centro-Civico/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Champagnat/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Cidade-Industrial/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Cristo-Rei/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Fanny/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Fazendinha/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Guabirotuba/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Guaira/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Hauer/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Hugo-Lange/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Jardim-Botanico/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Jardim-das-Americas/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Jardim-Social/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Juveve/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Lindoia/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Merces/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Mossungue/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Novo-Mundo/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Orleans/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Parolin/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Pilarzinho/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Pinheirinho/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Portao/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Prado-Velho/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Reboucas/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Santa-Candida/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Santa-Felicidade/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Santa-Quiteria/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Santo-Inacio/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Seminario/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Sao-Lourenco/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Sao-Braz/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Sao-Francisco/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Sitio-Cercado/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Taruma/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Tatuquara/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Tingui/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Uberaba/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Umbara/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Vila-Izabel/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Vista-Alegre/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Xaxim/
Coletando dados de https://imoveis.mercadolivre.com.br/casas/aluguel/parana/curitiba/Agua-Verde/
Dados coletados!

In [5]:
dfc_ml = pd.concat(lista_dfs)

In [6]:
dfc_ml

        bairro   precos quartos areas
0    Abranches  12000.0       3   268
1    Abranches   8900.0       3   500
2    Abranches   2500.0       3   133
0          Ahu   3500.0     NaN   277
1          Ahu   3850.0     NaN   170
..         ...      ...     ...   ...
10  Agua-Verde   5500.0       7   229
11  Agua-Verde   2500.0     NaN   218
12  Agua-Verde   6000.0     NaN   384
13  Agua-Verde   2600.0       4   253
14  Agua-Verde  14500.0     NaN   449

[270 rows x 4 columns]

In [7]:
dfc_ml.describe()

              precos
count     270.000000
mean     7420.129630
std     37117.633197
min       450.000000
25%      1812.500000
50%      3500.000000
75%      6900.000000
max    608750.000000

Saving data

In [8]:
dfc_ml.to_csv('dados_mercado_livre_casas_curitiba.csv', index=False)

Reading extracted data

In [9]:
dc_ml = pd.read_csv('dados_mercado_livre_casas_curitiba.csv')

In [10]:
dc_ml.describe().T

         count         mean           std  ...     50%     75%       max
precos   270.0  7420.129630  37117.633197  ...  3500.0  6900.0  608750.0
quartos  178.0     3.252809      1.393333  ...     3.0     4.0       8.0

[2 rows x 8 columns]

In [11]:
dc_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bairro   267 non-null    object
 1   precos   270 non-null    float64
 2   quartos  178 non-null    float64
 3   areas    267 non-null    object
dtypes: float64(2), object(2)
memory usage: 8.6+ KB

In [13]:
dc_ml.replace(',','', regex=True,inplace=True)
dc_ml['areas'] = dc_ml['areas'].astype(float)

In [14]:
dc_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bairro   267 non-null    object
 1   precos   270 non-null    float64
 2   quartos  178 non-null    float64
 3   areas    267 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.6+ KB

In [15]:
dc_ml.isnull().sum()

bairro      3
precos      0
quartos    92
areas       3
dtype: int64

In [16]:
dc_ml['bairro'].value_counts()

Boqueirao              19
Agua-Verde             15
Bom-Retiro             13
Santa-Felicidade       12
Merces                 11
                       ..
Campina-do-Siqueira     1
Cabral                  1
Guabirotuba             1
Prado-Velho             1
Jardim-Botanico         1
Name: bairro, Length: 62, dtype: int64