<a href="https://colab.research.google.com/github/Fmarcelneves/Rental-price-analysis-and-forecast-Curitiba-PR/blob/main/Machine_Learning_Curitiba_rent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import numpy as np
import pandas as pd
# fazer a divisão entre treino e teste do X e y
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn import preprocessing 
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.dummy import DummyRegressor

In [23]:
url = 'https://raw.githubusercontent.com/Fmarcelneves/Rental-price-analysis-and-forecast-Curitiba-PR/main/data_rent_ap_curitiba_mercado_livre%20.csv'

In [24]:
df = pd.read_csv(url)

In [25]:
df.head()

      bairro  precos  quartos  areas
0  Abranches   960.0      1.0   50.0
1  Abranches   862.0      1.0   40.0
2  Abranches   855.0      1.0   28.0
3  Abranches   855.0      1.0   28.0
4  Abranches   855.0      1.0   28.0

In [28]:
df['bairro'].unique()

array(['Abranches', 'Alto da Rua XV', 'Atuba', 'Bacacheri', 'Bairro Alto',
       'Batel', 'Bigorrilho', 'Bom Retiro', 'Cabral', 'Cachoeira',
       'Campina do Siqueira', 'Campo Comprido', 'Centro',
       'Cidade Industrial', 'Cristo Rei', 'Fanny', 'Fazendinha',
       'Guabirotuba', 'Hauer', 'Hugo Lange', 'Jardim Social', 'Juvevê',
       'Mercês', 'Mossunguê', 'Novo Mundo', 'Orleans', 'Parolin',
       'Pilarzinho', 'Pinheirinho', 'Prado Velho', 'Santa Cândida',
       'Santa Felicidade', 'Santa Quitéria', 'Santo Inácio', 'Seminário',
       'São Braz', 'São Francisco', 'Sítio Cercado', 'Tatuquara',
       'Tingui', 'Uberaba', 'Umbará', 'Vila Izabel', 'Vista Alegre',
       'Xaxim'], dtype=object)

In [26]:
df_onehot = pd.get_dummies(df)

In [27]:
df_onehot.head()

   precos  quartos  ...  bairro_Vista Alegre  bairro_Xaxim
0   960.0      1.0  ...                    0             0
1   862.0      1.0  ...                    0             0
2   855.0      1.0  ...                    0             0
3   855.0      1.0  ...                    0             0
4   855.0      1.0  ...                    0             0

[5 rows x 48 columns]

In [30]:
# descarta a zona ou transformar ela em número
# numero de quartos e areas e as zonas 
X = df_onehot.drop(['precos'], axis=1)

# y é o preço que queremos chutar
y = df['precos']

In [31]:
X.head()

   quartos  areas  ...  bairro_Vista Alegre  bairro_Xaxim
0      1.0   50.0  ...                    0             0
1      1.0   40.0  ...                    0             0
2      1.0   28.0  ...                    0             0
3      1.0   28.0  ...                    0             0
4      1.0   28.0  ...                    0             0

[5 rows x 47 columns]

In [33]:
X = X.fillna(X.median())

In [34]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, random_state=42, test_size=0.25)

In [35]:
lr = LinearRegression()
lr.fit(X_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
lr.score(X_teste, y_teste)

-1.448272540373414e+19

In [45]:
s_X = preprocessing.StandardScaler().fit_transform(X)

In [46]:
s_X_treino, s_X_teste, s_y_treino, s_y_teste = train_test_split(s_X, y, random_state=42, test_size=0.25)

In [58]:
lr = LinearRegression()
lr.fit(s_X_treino, s_y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [59]:
lr.score(s_X_teste, s_y_teste)

-7.144781482461013e+25

## Dummy regressor

In [60]:
dr = DummyRegressor()
dr.fit(s_X_treino, s_y_treino)

DummyRegressor(constant=None, quantile=None, strategy='mean')

In [61]:
dr.score(s_X_teste, s_y_teste)

-0.0034225701549641663

# RandomForestRegressor

In [67]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(s_X_treino, s_y_treino)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [68]:
rf.score(s_X_teste, s_y_teste)

0.43637511368569565

# XGBRegressor

In [74]:
xgr = xgb.XGBRegressor(random_state=42)
xgr.fit(s_X_treino, s_y_treino)

[23:55:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [75]:
xgr.score(s_X_teste, s_y_teste)

0.4600778407176745